LegacyInternational/Web References/CruiseServiceRef/CruiseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="check_in_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="check_out_date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cruise_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="booking_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="room_num" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateBookingResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateBookingSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBooking" />
  </wsdl:message>
  <wsdl:message name="CreateBookingSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="CruiseServiceSoap">
    <wsdl:operation name="CreateBooking">
      <wsdl:input message="tns:CreateBookingSoapIn" />
      <wsdl:output message="tns:CreateBookingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CruiseServiceSoap" type="tns:CruiseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBooking">
      <soap:operation soapAction="http://tempuri.org/CreateBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CruiseServiceSoap12" type="tns:CruiseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBooking">
      <soap12:operation soapAction="http://tempuri.org/CreateBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CruiseService">
    <wsdl:port name="CruiseServiceSoap" binding="tns:CruiseServiceSoap">
      <soap:address location="https://localhost:44350/CruiseService.asmx" />
    </wsdl:port>
    <wsdl:port name="CruiseServiceSoap12" binding="tns:CruiseServiceSoap12">
      <soap12:address location="https://localhost:44350/CruiseService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>